.task {
    border-top: 1px solid #DBDBDD;
    display: flex;
    align-items: center;
    min-height: 60px;
}

.task:last-child {
    border-bottom: 1px solid #DBDBDD;
}

.task__edit-panel {
    flex-grow: 1;
}

.task__inner {
    display: flex;
    align-items: center;
    gap: 16px;
    flex-grow: 1; 
    align-self: stretch;
}

.task__status-container {
    border-right: 1px solid #DBDBDD;
    display: flex;
    align-items: center;
    height: 100%;
    min-width: 116px;
    width: 116px;
}

.task__description-container {
    border-right: 1px solid #DBDBDD;
    display: flex;
    align-items: center;
    flex-grow: 1;
    height: 100%;
    padding: 12px 0;
}

.task__date-container {
    border-right: 1px solid #DBDBDD;
    display: flex;
    align-items: center;
    height: 100%;
    min-width: 100px;
    width: 100px;
}

.task__actions-container {
    display: flex;
    align-items: center;
    gap: 12px;
    height: 100%;
    min-width: 76px;
    width: 76px;
}

.task__date {
    color: #808080;
    font-size: 14px;
    font-weight: 500;
}