.task-list-head {
    background: transparent;
    border-radius: 8px;
    min-height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1) 0.05s;
    padding: 0 16px;
    cursor: pointer;
}
.task-list-head:hover {
    background: #F8F7F7;
}

.task-list-head__inner {
    display: flex;
    align-items: center;
    margin-right: 20px;
    width: 100%;
}

.task-list-head__title {
    font-size: 16px;
    font-weight: 600;
    margin-right: 20px;
}

.task-list-head__collapse-icon-container {
    margin-left: 20px;
}

.task-list-head__actions-container {
    display: flex;
    align-items: center;
    gap: 12px;
    opacity: 0;
    transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1) 0.03s;
}

.task-list-head__inner_hovered .task-list-head__actions-container {
    opacity: 1;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .task-list-head {
        padding: 0 8px 0 0;
    }

    .task-list-head__inner {
        padding: 8px;
    }

    .task-list-head__actions-container {
        opacity: 1;
    }
}
