.header {
    background-color: #FFFFFF;
    margin-bottom: 24px;
}

.header__title-container {
    background-color: #414B6A;
    display: flex;
    align-items: center;
    padding: 12px 86px;
}

.header__title {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
    padding-left: 12px;
}

.header__application-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 86px;
    border-bottom: 1px solid #DBDBDD;
}

.header__filter-container {
    display: flex;
    align-items: center;
}

.header__filters {
    display: flex;
    gap: 16px;
    margin-left: 16px;
}

.header__legend-container {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 0 86px;
}

.header__legend-container p {
    font-size: 14px;
    font-weight: 500;
    color: #808080;
    padding: 16px 0;
}

.header__legend-container p:not(:last-child) {
    border-right: 1px solid #DBDBDD;
}

.header__status {
    width: 116px;
}

.header__description {
    flex-grow: 1;
}

.header__date {
    width: 100px;
}

.header__actions {
    width: 52px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .header__title-container {
      padding: 12px 48px;
    }

    .header__application-bar {
        padding: 16px 48px;
    }

    .header__legend-container {
        padding: 0 48px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .header {
        margin-bottom: 12px;
    }

    .header__title-container {
        padding: 12px 12px;
    }

    .header__application-bar {
        padding: 16px 12px;
    }

    .header__filters {
        gap: 8px;
        margin-left: 12px;
    }
}
