.task-list {
    border-radius: 12px;
    background: #FFFFFF;
    padding: 8px;
}

.task-list__tasks-container {
    list-style: none;
    margin: 0;
    padding: 8px 0 0;
}

.task-list__add-task-button {
    background: #F8F7F7;
    margin-top: 12px;
}

.task-list__future-task-container {
    margin-top: 12px;
}

.task-list__edit-panel {
    box-sizing: border-box;
    min-height: 50px;
    padding: 8px 0;
}

.task-list__inner-content {
    padding: 0 16px 12px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .task-list__inner-content {
        padding: 0;
    }
}
