.task-tracker-app__main {
  padding: 0 60px 60px;
}

.task-tracker-app__title {
  margin-bottom: 12px;
}

.task-tracker-app__empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding-top: 32px;
}

.task-tracker-app__empty-state-title {
  text-align: center;
  margin-bottom: 8px;
}

.task-tracker-app__empty-state-text {
  text-align: center;
}

.task-tracker-app__lists-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.task-tracker-app__future-list-container {
  border-radius: 12px;
  background: #FFFFFF;
  height: 50px;
  display: flex;
  align-items: center;
}

.task-tracker-app__future-list-container_edit-mode {
  padding: 0 24px;
}

.task-tracker-app__empty-state-container {
  background: transparent;
}

.task-tracker-app__empty-state-container_edit-mode {
  border-radius: 12px;
  background: #FFFFFF;
  padding: 16px 24px;
  margin: 0 16px;
}

.task-tracker-app__create-list-button {
  background: #FFFFFF;
}

.task-tracker-app__create-list-button:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
